.input-category-desc {
  height: 100px !important; 
}

.title-of-row {
  text-align: right;
}

.category-description {
  white-space: pre-wrap;
  height: auto;
  padding-top: 0px;
  padding-left: 0px;
  border-style: none;
  resize: vertical;
  text-align: justify;
  background: white;
  font-size: 16px;
}
