.header-login-form {
  margin-top: 50px !important;
  margin: auto;
  width: 500px;
  background-color: #B0C4DE;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}

.login-form {
  width: 500px;
  margin: auto;
  background-color: #eaedf1;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
}

.login-button {
  width: 100%;
  background-color: #337ab7;
  color: white;
}

.header-signup-form {
  margin-top: 50px !important;
  margin: auto;
  width: 650px;
  background-color: #B0C4DE;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}

.signup-form {
  width: 650px;
  margin: auto;
  background-color: #eaedf1;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
